.section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;

  @media screen and (max-width: 1224px) {
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }

  .content_section {
    width: 700px;
    height: 100%;
    h1 {
      text-align: left;
      padding-left: 10%;
      font-size: 5.1rem;
      line-height: 8rem;
      font-weight: 700;
    }

    .main_button {
      width: 80%;
      padding-left: 10%;
    }
    @media screen and (max-width: 1224px) {
      order: 2;
      width: 100%;
      h1 {
        text-align: center;
        padding: 0 32px;
        letter-spacing: 0.12rem;
        font-size: 2.3rem;
        font-weight: 800;
        line-height: 63px;
      }

      .main_button {
        padding: 0;
        margin: auto;
        display: flex;
        justify-content: center;
      }
    }
  }

  .image_section {
    width: 45%;
    height: 50%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1224px) {
      order: 1;
      height: 40%;
      width: 100%;
    }
  }
}

.section2 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.8) 3%,
      rgba(0, 0, 0, 0.5) 5%,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 0) 50%
    )
    no-repeat;
}
