@import '../colors';

.main {
    width: auto;
    min-width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $gray;
    border-radius: 20px;
    padding: 8px 20px;
    a {
      color: $secondary;
      text-transform: uppercase;
      padding: 2px 12px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: .3rem;
      text-align: center;
      cursor: pointer;
      width: 200px;
      margin: auto 22px;
    }

    .is_active{
      background-color: $secondary;
      color: $black;
      border-radius: 20px;
    }
  }